* {
    box-sizing: border-box;
    font-family: monospace;
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 12px;
}

.scores-button {
    background-color: rgb(80, 19, 50);
    color: white;
    padding: 6px;
    margin: 6px;
}

.scores-button:hover {
    cursor: pointer;
    transform: scale(1.02);
    transform: transform 100ms;
}

.start-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50%;
}

.body-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.scores-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    text-align: center;
    padding: 2px;
    width: 75%;
}

.question-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 50%;
}

.end-container {
    display: flex;
    justify-content: center;
    padding: 6px;
    width: 50%;
    align-items: center;
}

.btn {
    width: 50%;
    padding: 12px;
    margin: 12px;
    background-color: rgb(80, 19, 50);
    color: white;
}

.btn:hover {
    cursor: pointer;
    transform: scale(1.02);
    transform: transform 100ms;
}

h1 {
    text-align: center;
}


@media screen and (max-width: 768px) {
    .choice-container {
        min-width: 40rem;
    }
}